{% load blog_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Side Bar -->
    <div id="sidebar">
        <h2>
            <a href="{% url 'blog:post_list' %}">  My blog </a>
           
        </h2>
        <p>Welcome to my blog!</p>
        <p>There are {% total_posts %} posts published.</p>

        <!-- Show most recent posts with custom tag -->
        <h4>Latest Posts</h3>
        {% show_latest_posts %}

        <!-- Show most comment posts with custom tag -->
        <h4>Most Commented Posts</h3>
        {% most_commented as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
            <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
            {% empty %}
            <p>No posts available</p>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>